.App {
  text-align: center;
}

.App-logo {
}

.App-header {
  height: 33vh;
  background-image: url("scrumFramework.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: lightblue;
  color: black;
}
.App-intro {
  font-size: large;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  height: 25%;
  width: 25%;
}

.cards {
    height: 200px;
width: 400px ;
background: #f8f8f8;
hoverOffset: 25;
}

/* Add a black background color to the top navigation */
.topnav a{
  background-color: white;
  font-size: xx-large;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 30px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}