.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.rotate_plus_90 {
  transform: rotate(90deg);
  height: 800px;
  width: 600px;
}

.rotate_minus_90 {
  transform: rotate(-90deg);
  height: 800px;
  width: 600px;
}

.rotate_180 {
  transform: rotate(180deg)
}

.sprint {
  width: 100%;
  height: auto;
}

img {
  width: 800px;
  height: 600px;
}